<section class="body">
    <nav class="nav-bar">
        <a class="vogue" href="/"><h1>VogueVibes</h1></a>
    </nav>
    <nav class="under-nav-bar">
        <a class="link" href="/profile">Profile</a>
        <p>|</p>
        <a class="link" href="/outfit/search">search</a>
        <p>|</p>
        <a class="link" href="/outfit/create">create</a>
        <p>|</p>
        <a class="link" href="/logout">logout</a>
    </nav>

    <h1>Outfit Preview</h1>
    <img src="{{outfit.top.imageUrl}}" alt="Top image">
    <img src="{{outfit.bottom.imageUrl}}" alt="Bottom image">
    <img src="{{outfit.shoes.imageUrl}}" alt="Shoes image">
</section>