
<div  class="lowerBar">
<a class="link" href="/profile">Profile</a>
<a class="link" href="/logout">logout</a>
<a href="/outfit/search">search</a>
</div>

<h1>Outfit Preview</h1>
<img src="{{outfit.top.imageUrl}}" alt="Top image">
<img src="{{outfit.bottom.imageUrl}}" alt="Bottom image">
<img src="{{outfit.shoes.imageUrl}}" alt="Shoes image">