<h3>search for outfits</h3>
<form action="/results" method="post">
  <select name="search">
    {{#each response}}
      <option name="search" value='{{name}}'>{{name}}</option>
    {{/each}}
  </select>
  <button type="submit">search</button>
</form> 