
<div  class="lowerBar">
<a class="link" href="/profile">Profile</a>
<a class="link" href="/logout">logout</a>
</div>

<h3>search for outfits</h3>
<form action="/results" method="post">
  <select name="search">
    {{#each response}}
      <option name="top" value='{{name}}'>{{name}}</option>
    {{/each}}
  </select>
  <button type="submit">Search</button>
  
</form> 