body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.outfit-section{
  display: flex;
}

.outfit-piece{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outfit-image{
  height: 100px;
}