<h1>VogueVibes</h1>
<p>Fashion made easy!</p>
{{#if logged}}
    <a href="profile">Profile</a>
    <br>
    <a href="logout">Logout</a>
    <br>
    <br>
    <a href="/outfit/search">search</a>
{{else}}
    <a href="/login">Log in</a>
    <br>
    <a href="/signup">Sign up</a>
{{/if}}
