

{{#if logged}}
<div  class="lowerBar">
    <a class="link" href="/profile">Profile</a>
  
    <a class="link" href="/outfit/search">search</a>
    
    <a class="link" href="/outfit/create">create</a>

    <a class="link" href="/logout">logout</a>
</div>
{{else}}
<div  class="lowerBar">
    <a class="link" href="/login">log in</a>
    
    <a class="link" href="/signup">sign up</a>
</div>
{{/if}}

<br>

<p class="First-title">Fashion made easy!</p>

