<div id="body">
  <div class="centerPage">
    <div class="glassBackground login-box">
      <div id="login-form">
        <h2>VogueVibes</h2>
        <form action="/login" method="POST">
          <input  class="loginlabel"  type="email" name="email" placeholder="Email" />
          <br>
          <input  class="loginlabel" type="password" name="password" placeholder="Password" />
          <br>
          <button class="loginButton" type="submit">log In</button>

          {{#if errorMessage}}
            <p class="login-error">{{errorMessage}}</p>
          {{/if}}
        </form>
      </div>
    </div>
  </section>
</div>