<div id="body">  
  <div class="centerPage">
    <div class="glassBackground signup-box">
      <div id="login-form">
        <h2>VogueVibes</h2>
        <form action="/signup" method="POST">
            <input class="loginlabel" type="text" name="username" placeholder="Username" />
            <br>
            <input class="loginlabel" type="email" name="email" placeholder="Email" />
            <br>
            <input class="loginlabel" type="password" name="password" placeholder="Password" />
            <br>
            <button class="loginButton" type="submit">Sign Up</button>

            {{#if errorMessage}}
              <p class="login-error">{{errorMessage}}</p>
            {{/if}}
        </form>
      </div>  
    </div>
  </div>
</section>